__pycache__
cache
city_Chicago_pro/
city_Chicago_small_pro/
city_Jakarta_medium_better_pro/
city_Jakarta_medium_pro/
city_Jakarta_pro/
city_Jakarta1M_pro/
city_Jakarta10K_pro/
city_Jakarta10M_pro/
city_Jakarta100K_pro/
city_Singapore_pro/
city_Singapore_small_pro/
city_Singapore1MJ_pro/
city_Singapore10KJ_pro/
city_Singapore10MJ_pro/
city_Singapore100KJ_pro/
city_SingaporeArea_pro/
configs/
json
mappymatch/
NewFigures/
old/
venv/
0.1_NuPoints.py
3.1_verify_perfect.py
6_feature_extraction
6_feature_extraction_cell_count
6_feature_extraction.cpp
6_feature_extraction_cell_count.cpp
6_feature_extraction_n.cpp
6_feature_extraction_n_cell_count.cpp
6_feature_extraction_n
6_feature_extraction_n_cell_count
6_feature_extraction_exp.cpp
6_feature_extraction_exp
6.1_verify_feature_extraction.py
6.a_fe_wout_incremental
6.a_fe_wout_incremental.cpp
6.a_fe_woutIncreShared_cell_count
6.a_fe_woutIncreShared_cell_count.cpp
6.a_fe_woutIncreShared
6.a_fe_woutIncreShared.cpp
6.a_fe_woutIncreShared_s.cpp
6.a_fe_woutIncreShared_s
7_eval_road copy.py
7_eval_road_n.py
7_eval_road_s copy.py
7_eval_road_sm.py
7_eval_road.py
7_evaluation_all.py
7_evaluation_analysis.py
7_evaluation.py
8*
9*
10*
11*
12*
13*
14*
15*
!15_generate_error_figures_better.py
16*
distributed_run.py
edges.geojson
exp_figures*
generate_fig.py
generate_fig copy.py
generate_error_functions_old.py
jakarta_*
MapMakerLocOnly.py
missed_folders.txt
new_roads*
output*
points_*
raw_graph.pkl
road_length*
run_job.py
test_df*
train_df*
val_df*
temp.py
run_system_n.sh

